/* menu toggle btn */
.menu-toggle {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 160px;
  height: 80px;
  border-radius: 8em;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center;
  cursor: pointer;
  z-index: 2;
  will-change: transform;
}

.menu-toggle.opened {
  width: 60px;
}

.menu-copy {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  color: #fff;
  transition: right 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.menu-toggle:hover .menu-copy {
  right: 80px;
}

.menu-toggle.opened .menu-copy {
  opacity: 0;
}

.menu-toggle-icon {
  position: absolute;
  right: 0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  clip-path: circle(10% at 50% 50%);
  transition: all 0.85s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  overflow: hidden;
}

.menu-toggle:hover .menu-toggle-icon {
  clip-path: circle(35% at 50% 50%);
}

.menu-toggle.opened .menu-toggle-icon {
  clip-path: circle(50% at 50% 50%);
  transform: scale(1.125);
}

.hamburger {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
  top: 50%;
  opacity: 1;
}

.menu-bar {
  position: absolute;
  width: 15px;
  height: 1.5px;
  transition-property: transform;
  transition: all 350ms ease-out;
}

.menu-bar[data-position="top"] {
  transform: translateY(-3px);
}

.menu-bar[data-position="bottom"] {
  transform: translateY(3px);
}

.menu-toggle.opened .menu-bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1.25);
}

.menu-toggle.opened .menu-bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1.25);
}
